---
import DiscordProfile from "../components/DiscordProfile.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="VeguiDev - Desarrollador de Software">
  <main class="bg-black flex flex-col justify-center items-center relative">
    <div class="image-container">
      <div class="image">
        <img
          src="/logo.png"
          class="w-40 p-8 rounded-full bg-gray-900"
          alt="VeguiDev Isotipo"
        />
      </div>
      <div class="circles"></div>
    </div>
    <div class="gradient"></div>
    <h2 class="z-10 xs:text-xl md:text-4xl font-extrabold text-white mt-72">
      JUAN MANUEL MENTA
    </h2>
    <h3 class="z-10 xs:text-lg md:text-2xl font-extrabold text-white mt-4">
      VEGUIDEV
    </h3>
    <p class="z-10 xs:text-xs md:text-lg text-gray-500 mt-4 text-center">
      Vuelva pronto, estamos trabajando en el sitio web.
    </p>
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }
  h2 {
    font-family: "Inter", sans-serif;
    font-weight: 900;
  }

  h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
  }

  p {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
  }

  .image-container {
    position: absolute;
    top: -50px;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 150px; */
  }

  .image-container .image {
    position: absolute;
  }

  .image-container img {
    position: relative;
    z-index: 100;
    user-select: none;
  }

  .image-container .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(52, 152, 219);
    background: linear-gradient(
      8deg,
      rgba(52, 152, 219, 1) 0%,
      rgba(155, 89, 182, 1) 100%
    );
    scale: 1.03;
    z-index: 10;
  }

  .image-container .image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-radius: 50%;

    box-shadow: 0px 0px 80px 20px rgba(255, 255, 255, 1);
    /* scale: 1.15; */
    opacity: 0.1;
    mix-blend-mode: luminosity;
  }

  .gradient {
    content: "";
    position: absolute;
    top: 0px;
    /* left: 0; */
    width: 100%;
    height: 100%;
    border-radius: 100%;

    opacity: 0.2;

    background: conic-gradient(
      from 180deg at 50% 50%,
      #e74c3c 0deg,
      #3498db 180deg,
      #9b59b6 1turn
    );
    mix-blend-mode: normal;
    filter: blur(75px);
    will-change: filter;
  }

  .circles {
    content: "";
    position: absolute;
    top: -25px;
    left: 0px;
    width: 100%;
    height: calc(100% + 50px);

    background-size: auto;
    background-repeat: no-repeat;

    opacity: 0.2;

    background: radial-gradient(
      circle,
      /* Primero */ rgba(255, 255, 255, 0) 30%,
      rgba(189, 195, 199, 0.5) 30%,
      rgba(189, 195, 199, 0.5) 30.2%,
      rgba(255, 255, 255, 0) 30.2%,
      /* Segundo */ rgba(255, 255, 255, 0) 60%,
      rgba(189, 195, 199, 0.2) 60%,
      rgba(189, 195, 199, 0.2) 60.2%,
      rgba(255, 255, 255, 0) 60.2%
    );

    animation: circlesAnim 10s infinite;

    scale: 1;
    /* background-color: red; */
  }

  @keyframes circlesAnim {
    0% {
      opacity: 0.02;
    }

    50% {
      opacity: 0.4;
    }

    100% {
      opacity: 0.02;
    }
  }
</style>
