---
import DiscordProfile from "../components/DiscordProfile.astro";
import NavBar from "../components/NavBar";
import Layout from "../layouts/Layout.astro";

import {
  Info,
  GraduationCap,
  FlaskConical,
  ChevronRight,
  Sparkles,
  Menu,
} from "lucide-astro";
---

<Layout title="VeguiDev - Sobre Mi">
  <main class="text-white">
    <NavBar client:load />
    <section class="relative flex justify-center">
      <span class="w-full h-full absolute right-0 top-0 degradado2"> </span>
      <section class="mt-20 mb-20 px-5 md:px-0">
        <DiscordProfile />
      </section>
    </section>
    <footer class="p-6 py-12 flex items-center bg-neutral-900 w-full">
      <!-- <section class="grid grid-cols-2 text-center gap-5">
        <section>
          <h2 class="text-xl font-bold mb-2">REDES</h2>
          <ul>
            <li>
              <a
                href="https://x.com/VeguiDev"
                target="_blank"
                class="hover:underline"
                rel="noopener"
              >
                Twitter
              </a>
            </li>
            <li>
              <a
                href="https://github.com/VeguiDev"
                target="_blank"
                class="hover:underline"
                rel="noopener"
              >
                Github
              </a>
            </li>
          </ul>
        </section>
        <section>
          <h2 class="text-xl font-bold mb-2">CONTENIDOS</h2>
          <ul>
            <li>
              <a href="/sobre-mi" class="hover:underline"> Sobre Mi </a>
            </li>
            <li>
              <a href="/proyectos" class="hover:underline"> Proyectos </a>
            </li>
            <li>
              <a href="/sobre-mi#contacto" class="hover:underline">
                Contacto
              </a>
            </li>
          </ul>
        </section>
      </section> -->
      <section class="text-center w-full text-sm text-neutral-600">
        TODOS LOS DERECHOS RESERVADOS © 2021 by VeguiDev
      </section>
    </footer>
  </main>

  <style>
    main {
      min-height: 100vh;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
  </style>
</Layout>
