<div class="bg-gray-800/20 backdrop-blur max-sm:w-full w-96 rounded-xl h-auto">
  <div class="bg-gray-200/50 w-full h-40"></div>
  <div class="p-5">
    <section
      class="flex relative max-sm:bottom-10 max-sm:h-30 max-sm:flex-col max-sm:justify-center items-center h-10 select-none"
    >
      <div
        class="w-28 h-28 relative max-sm:bottom-2 bottom-10 bg-red-400 border-[0.45rem] border-gray-800 rounded-full"
      >
        <div class="overflow-hidden w-full h-full rounded-full">
          <img
            src="./foto.png"
            class="w-full h-full object-cover"
            alt="VeguiDev profile discord"
          />
        </div>
        <div
          class="w-7 h-7 absolute right-0 bottom-0 bg-green-500 z-10 border-[0.45rem] border-gray-800 rounded-full"
        >
        </div>
      </div>
      <ul
        class="flex list-none bg-gray-900 rounded-xl space-x-2 p-1 max-sm:ml-0 ml-auto"
      >
        <li class="group relative flex justify-center items-center">
          <span
            class="absolute translate-y-10 opacity-0 scale-0 group-hover:opacity-100 group-hover:scale-100 group-hover:translate-y-0 -top-10 transition-all duration-200 bg-gray-900 p-1 w-32 rounded font-bold text-center z-20"
          >
            Farfadox Staff
          </span>
          <div class="w-6">
            <img src="/farfadox-iso.svg" alt="" />
          </div>
        </li>
      </ul>
    </section>
    <section class="bg-gray-900 mt-4 rounded-xl pt-3 pb-3 pl-4 pr-4">
      <article>
        <section>
          <h2 class="text-white text-xl font-bold">Juan Manuel Menta</h2>
          <h3 class="text-gray-400 text-md font-semibold">veguidev</h3>
        </section>
      </article>
      <hr class="mt-4 mb-4 border-gray-500" />
      <article>
        <section class="text-white">
          <h2 class="text-sm font-bold">SOBRE MÍ</h2>
          <p class="text-[0.85rem] mt-1">
            Hola, soy Juan Manuel, conocido como VeguiDev, un apasionado
            desarrollador de software de 19 años con la determinación de
            impulsar tu negocio construyendo las soluciones que necesitas.
          </p>
        </section>
        <section class="text-white mt-4">
          <h2 class="text-sm font-bold">FECHA DE NACIMIENTO</h2>
          <p class="text-[0.85rem] mt-1">28 de mayo, 2005</p>
        </section>
      </article>
      <hr class="mt-4 mb-4 border-gray-500" />
      <article class="text-white select-none">
        <section class="flex flex-col items-start space-y-4">
          <a
            href="http://github.com/VeguiDev"
            target="_blank"
            rel="noopener noreferrer"
            class="flex space-x-2 items-center justify-start border-[0.05rem] border-gray-500 p-2 rounded w-2/3"
          >
            <i class="text-2xl mr-1 fa-brands fa-github"></i>
            <div class="text-md font-bold flex-1">veguidev</div>
            <div class="ml-auto">
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>
          </a>
          <a
            href="https://twitter.com/veguidev"
            target="_blank"
            rel="noopener noreferrer"
            class="flex space-x-2 items-center justify-start border-[0.05rem] border-gray-500 p-2 rounded w-2/3"
          >
            <i class="text-2xl mr-1 fa-brands fa-twitter text-[#00acee]"></i>
            <div class="text-md font-bold flex-1">veguidev</div>
            <div class="ml-auto">
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>
          </a>
        </section>
      </article>
      <br class="select-none" />
      <article>
        <input
          class="w-full bg-gray-900 p-2 border-gray-500 text-gray-400 border-solid border-[0.05rem] rounded-[0.2rem] focus:outline-none placeholder:text-gray-500"
          type="text"
          placeholder="Enviar mensaje a @VeguiDev"
          id="msg"
        />
        <small class="text-xs text-gray-500 select-none">
          Presioná enter para enviar el mensaje
        </small>
      </article>
    </section>
  </div>
</div>
<script>
  const msg = document.getElementById("msg") as HTMLInputElement;

  msg?.addEventListener("keypress", (e) => {
    if (!msg) return;

    if (e.key === "Enter") {
      const message = btoa(msg.value);

      msg.value = "";

      const searchParams = new URLSearchParams();

      searchParams.set("m", message);

      window.open("/contacto?".concat(searchParams.toString()));
    }
  });
</script>
