<footer class="p-6 py-12 flex items-center bg-neutral-900 w-full">
  <section class="text-center w-full text-sm text-neutral-600">
    TODOS LOS DERECHOS RESERVADOS © 2024 by VeguiDev
  </section>
</footer>
