---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es-ar">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Soy VeguiDev un desarrollador de software que puede desarrollar la página para tu negocio, el servicio para tus empleados o un mod para tu server de Minecraft."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="manifest.json" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  * {
    box-sizing: border-box;
  }

  :root {
    --accent: 255, 0, 0;
    --accent-gradient: linear-gradient(
      90deg,
      rgb(var(--accent)),
      #3498db 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: rgb(18, 18, 18);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .pulse::before {
    animation: pulse 7s infinite;
  }
  .pulse::after {
    animation: pulse 7s infinite;
    animation-delay: 3.5s;
  }

  .bg-gradient {
    background: url("/degradado.png");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
    filter: blur(5px);
  }

  @keyframes pulse {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 0.4;
    }
  }

  .rotate-inf {
    animation: rotate 20s infinite linear alternate;
  }

  .degradado2 {
    background: url("/degradado2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.1;
    filter: blur(5px);

    z-index: -1;
  }

  @keyframes rotate {
    from {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate(-20deg);
    }
  }
</style>
